
.lightPoint {
    position: absolute;
    left: 60%; 
    top: 45%;
    transform: translateX(-50%); 
    width: 400px;
    height: 400px;
    background-color: #F05326;
    filter: blur(70px);
    border-radius: 50%;
    opacity: 0.3;
    z-index: 84448;
}

.shape1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #ff6600; 
    clip-path: ellipse(67% 100% at 8% 50%);
    transform:  translateX(-20%);
    z-index: 1;
}

.shape2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #ff6600; 
    clip-path: ellipse(67% 100% at 8% 50%);
    z-index: 1;
    transform: rotate(180deg) translateX(-20%);
}

.css-1rmojbn-MuiGrid-root>.MuiGrid-item{
    padding-left: 12px;
}





